<section class="tiles">
	<article class="style1">
		<span class="image">
			<img src="images/pic01.jpg" alt="" />
		</span>
		<a href="generic.html">
			<h2>Magna</h2>
			<div class="content">
				<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
			</div>
		</a>
	</article>
	<article class="style2">
		<span class="image">
			<img src="images/pic02.jpg" alt="" />
		</span>
		<a href="generic.html">
			<h2>Lorem</h2>
			<div class="content">
				<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
			</div>
		</a>
	</article>
	<article class="style3">
		<span class="image">
			<img src="images/pic03.jpg" alt="" />
		</span>
		<a href="generic.html">
			<h2>Feugiat</h2>
			<div class="content">
				<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
			</div>
		</a>
	</article>
</section>
